<div class="card">
  <div class="card-body">
    <h6 class="card-title text-muted d-flex flex-row justify-content-between">
      <p>{{title}}</p><i class="bi {{icon}}"></i>
    </h6>
    <h5 class="card-subtitle mb-2 text-center solid">{{value}}</h5>
    <div class="d-flex flex-row justify-content-between mt-2 mb-0">
      <p class="p-0 m-0 card-text {{color}}"><i class="bi {{iconStat}} {{color}}"></i>{{percentage}}</p>
      <p class="p-0 m-0 card-text">Since Date</p>
    </div>
  </div>
</div>
